.catalog {
  margin-top: 22px;
  margin-bottom: 22px;
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 22px;
  background-color: #f2f2f2;
}

.catalog__title {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
}

.catalog__icon-slim {
  width: 51px;
  height: 51px;
}

.catalog__icon-pro {
  width: 67px;
  height: 28px;
}

.catalog__description {
  padding-bottom: 20px;
  border-bottom: 2px solid #dadada;
  color: #444444;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.catalog__link {
  padding-top: 10px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
