.contacts__title {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__text {
  color: #444444;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
