.diet-form {
  margin-top: 35px;
  padding-bottom: 35px;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.diet-form__info {
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.diet-form__input {
  margin-left: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(#cdcdcd, 0.5);
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.diet-form__programm {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #dadada;
}

.diet-form__title {
  padding-top: 23px;
  padding-bottom: 23px;
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.diet-form__legend {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

.button__form {
  margin-top: 22px;
  margin-bottom: 22px;
}
