.example {
  text-align: center;
}

.example__description {
  color: #444444;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example__title {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.example__legend {
  color: #444444;
  font-family: Arial MT, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.example__cost {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__text {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
