.footer {
  padding-top: 30px;
  text-align: center;
  &--page {
    background-color: #f2f2f2;
  }
}

.footer__block {
  margin-top: -5px;
  background-color: #f2f2f2;
}

.footer__logo {
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer__social {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
}

.footer__copyright {
  padding-bottom: 20px;
  padding-top: 20px;
}
