.goods__title {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.goods__list {
  color: #444444;
  font-family: Arial MT, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.button__order-all {
  margin-top: 40px;
  padding-top: 190px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 43px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  background: url('../img/gift-photo-mobile@1x.jpg') 0 0 no-repeat;
  background-size: cover;
}
