.main {
  text-align: center;
}

.main__block {
  margin: 0 auto;
  padding-left: 37px;
  padding-top: 30px;
  padding-right: 37px;
  width: 320px;
  height: 305px;
  text-align: center;
  background: #68b738 url("../img/index-background-mobile@1x.jpg") 0 0 no-repeat;
  background-size: cover;
}

.main__title {
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.main__slogan {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}
