.products__title {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.products__list {
  color: #444444;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products__to-all {
  margin: 0;
  padding-bottom: 10px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.button__show-all {
  margin-top: 22px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  background-color: #f2f2f2;
}
