.programm {
  text-align: center;
}

.programm__title {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.programm__description {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
