.steps {
  text-align: center;
  padding-bottom: 40px;
}

.steps__item {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
}
